<title>Amazon - <%= @book.title %></title>
<h1>Title: <%= @book.title %></h1>
<%= image_tag(@book.img, size: "180x250", alt: "best book online, books cheap best book") %>
<p>Author: <%= @book.author.name %></p>
<p>Rating: <%= @book.rating %></p>
<p>Views: <%= @book.views %></p>