<!DOCTYPE html>
<html>
  <head>
    <title>Amazon - books books books</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to("Home", root_path) %> | <%= link_to("Books", books_path) %> | <%= link_to("Authors", authors_path)%>  | <%= link_to("Stores", stores_path) %>

    <%= yield %>
  </body>
</html>
